<h1> Co by sis dal? </h1>
<form action="/result/" method = "POST">
    <p>Dal bych si (např. smažený sýr) <input type = "text" name = "hledane_jidlo"  /></p>
    <p>Ve městě / čtvrti Prahy (např. Praha 2) <input type = "text" name = "mesto" ></p>
    <p>Moje adresa je  (např. Falešná 123/45)<input type = "text" name = "adresa_uzivatele" /></p>
    <p><input type = "submit" value = "Vyhledat" /></p>
</form>
<p><img src="[[https://github.com/gromanjakub/smazak_web/app/templates/smazak.jpg|alt=smazak]]"></p>
